<div class="header-container">
<div class="header_up">
	<div class="header-left">
		<span class="left_a">中国大陆暴雪官方授权周边商城</span>
		<span class="left_b">暴雪嘉年华精选周边现已上线！</span>
	</div>
	<div class="header-right">
		<ul class="menu_list">
			<li class="list-username"><a href="/html/login.html" class="aa">登录</a></li>
			<li class="list-remove"><a href="/html/register.html" class="aa">注册</a></li>
			<li class="collapsed">
				<span class="service">
					<span>客服服务</span>
					<i><img src="/images/jt.png"></i>
				</span>
				<ul class="sub-menu">
					<li><a href="#">帮助中心</a></li>
					<li><a href="https://qiyukf.com">在线客服</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="header_down">
	<div class="header_dleft">
		<img src="/images/banner-bmall.png" class="banner-bmall">
	</div>
	<div class="header_dright">
		<input type="text" placeholder="  请输入搜索内容">
		<img src="/images/serach.png">
		<a href="/html/cart.html"><img src="/images/car.png"></a>
		<span class="cart-num"></span>
	</div>
</div>
<div class="nav">
	<ul class="nav-ul">
		<li class="nav-li">
			<a href="/index.html" class="nav-a">首页</a>
		</li>
		<li class="nav-li">
			<a href="#" class="nav-a">居家生活</a>
			<div class="nav-list">
				<ul>
					<li><a href="/html/list.html"><img src="../../images/xihu.png">洗护</a></li>
					<li><a href="/html/list.html"><img src="../../images/baozhen .png">抱枕</a></li>
					<li><a href="/html/list.html"><img src="../../images/chuangpin.png">床品</a></li>
					<li><a href="/html/list.html"><img src="../../images/shouna.png">收纳</a></li>
					<li><a href="/html/list.html"><img src="../../images/tuoxie.png">拖鞋</a></li>
					<li><a href="/html/list.html"><img src="../../images/shuibei.png">水杯</a></li>
					<li><a href="/html/list.html"><img src="../../images/jiashi.png">家饰</a></li>
					<li><a href="/html/list.html"><img src="../../images/xiangbao.png">箱包</a></li>
					<li><a href="/html/list.html"><img src="../../images/canchu.png">餐厨</a></li>
					<li><a href="/html/list.html"><img src="../../images/yusan.png">雨伞</a></li>
				</ul>
			</div>
		</li>
		<li class="nav-li"><a href="#" class="nav-a">手办模型</a></li>
		<li class="nav-li"><a href="#" class="nav-a">数码外设</a></li>
		<li class="nav-li"><a href="#" class="nav-a">配饰挂件</a></li>
		<li class="nav-li"><a href="#" class="nav-a">服装服饰</a></li>
		<li class="nav-li"><a href="#" class="nav-a">图书文具</a></li>
	</ul>
</div>
</div>